/**
 * @file
 * This file defines the page layout structure.
 */

#page {
  /* liquid is nice, but there can also be too much of a good thing. */
  margin: 0 auto;
  max-width: 1300px;
  min-width: 960px;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px
 */

#content {
  /* overflow: hidden; */
  float: left;
  width: 100%;
  margin-right: -100%;   /* Negative value of #content's width + left margin. */
  padding: 0;            /* Changing this might break the layout. Add padding or margin to #content-inner. */
}

.two-sidebars #content-inner {
  margin-left: 190px;   /* Left Sidebar width */
  margin-right: 190px;  /* Right Sidebar width */
}

.sidebar-right #content-inner {
  margin-right: 190px;  /* Right Sidebar width */
}

.sidebar-left #content-inner {
  margin-left: 190px;   /* Left Sidebar width */
}

#sidebar-left {
  float: left;
  width: 200px;
  margin-left: 0;
  margin-right: -190px;  /* Negative value of #sidebar-left's width + left margin. */
  padding: 0;            /* Changing this might break the layout. Add padding or margin to #sidebar-left-inner. */
}

#sidebar-right {
  float: right;
  width: 190px;
  margin-left: -190px;   /* Negative value of #sidebar-right's width + right margin. */
  margin-right: 0;
  padding: 0;            /* Changing this might break the layout. Add padding or margin to #sidebar-right-inner. */
}

#footer {
  clear: both;
  float: none;
}

/* Layout Helpers */

#header,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
  clear: both;
}

/* Mobile-friendly layout. */

@media screen and (max-width: 700px) {
  #page {
    min-width: 320px;
  }

  #content {
    float: none;
    margin-right: 0;
  }
  .two-sidebars #content-inner,
  .sidebar-left #content-inner,
  .sidebar-right #content-inner {
    margin-left: 0;
    margin-right: 0;
  }

  #sidebar-left,
  #sidebar-right {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  div.sidebar div.block {
    float: left;
    width: 158px;
  }
}
