/**
 * @file
 * HANK Admin Website, Henry Ford Community College.
 */

body {
  background: #FCFCFF;
  color: #222;
  font-family: Lucida Grande, Lucida Sans Unicode, sans-serif;
  font-size: 100%;
}

#page {
  font-size: 0.8em;
  line-height: 1.5em;
}

#header {
  border-bottom: 2px solid #005DAA;
  font-size: 13px;
  line-height: 1.231em;
  margin: 0;
  padding: 0;
}

.title-logo {
  background: #0054a6;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 10px;
}

h1#site-name {
  float: right;
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  font-size: 3em;
  line-height: 1em;
  margin: 0;
  padding: 0.15em 0 0;
}

#site-name a {
  color: #fff;
  text-decoration: none;
}

a.hfcc-home {
  background: url("../images/hfcc-logo-white.svg") no-repeat;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 55px 0 0;
  width: 198px;
}

#navigation {
  margin: 0 auto;
  padding: 0.5em 10px;
}

#search-theme-form {
  float: right;
}

#search-theme-form form {
  margin: 0 0 1em 1em;
}

#search-theme-form label {
  display: none;
}

#search-theme-form .form-submit {
  background: transparent url(../images/search.png) no-repeat right top;
  border: none;
  color: #ccc;
  font-size: 0.85em;
  height: 15px;
  margin: 0;
  padding: 0 17px 0 0;
  text-transform: lowercase;
}

#search-theme-form .form-item input:focus {
  background: #ffd;
}

ul.primary-links {
  float: left;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0;
  padding: 0.826em 0;
}

ul.primary-links li {
  padding: 0 1em 0 0;
}

ul.primary-links a {
  color: #005DAA;
  font-weight: bold;
  text-decoration: none;
}

ul.primary-links .active-trail a {
  color: #333;
}

ul.secondary-links {
  float: right;
  line-height: 18px;
  margin: 0;
  padding: 10px 10px 0 0;
}

ul.secondary-links li {
  padding: 0 0 0 4px;
}

ul.secondary-links a {
  background: url(../images/hank-sec-nav-bg.png) repeat-x center center;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-size: 13px;
  margin: 0;
  padding: 2px 6px;
  text-decoration: none;
}

ul.secondary-links a:hover {
}

#header-region {
  padding: 0 8px;
}

#content-inner {
  padding: 0 0 1em;
}

.front #content-inner {
  margin-top: 8px;
}

.sidebar-left #content-inner {
  padding: 0 0 1em 1em;
}

.sidebar-right #content-inner {
  padding: 0 1em 1em 0;
}

.two-sidebars #content-inner {
  padding: 0 1em 1em;
}

.breadcrumb {
  padding-bottom: 0;
}

.breadcrumb a {
  color: #777;
}

#content-header {
  padding: 0 8px;
}

#content-header .block-views{
  margin: 0 0 1em;
}

#content-area {
  padding: 0 8px;
}

#content-bottom {
  padding: 0 8px;
}

div.sidebar {
  font-size: 11px;
  line-height: 1.2em;
}

div#sidebar-right {
  background-color: #F3F3F9;
  border-radius: 3px;
  box-shadow: 1px 1px 10px -4px #666666;
  font-size: 0.9em;
  margin: 8px 0 1.5em;
}

div#sidebar-right-inner {
  padding: 4px 8px 8px;
}

div.sidebar h2 {
  font-size: 1.3em;
}

div.sidebar div.block {
  margin: 0 0 0.5em;
}

div.block-block div.content {
  background: #fcfcff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 4px;
}


#fatfooter {
  background: #DEDEDE;
  color: #666;
  font-size: 0.9em;
  min-height: 150px;
}

#fatfooter .block {
  float: left;
  width: 24%;
}

#fatfooter .block-inner {
  padding: 10px;
}

#fatfooter h2.title {
  padding: 0.25em 0 0.5em;
}

#fatfooter h3 {
  margin-top: 0.5em;
}

#fatfooter a {
  color: #666;
  text-decoration: none;
}

#fatfooter a:hover {
  text-decoration: underline;
}

#fatfooter .block ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 1em;
}

#fatfooter ul.menu li,
#fatfooter .item-list ul li,
#fatfooter li.leaf {
  list-style-image: url("../images/bullet_callout.gif");
  list-style-type: none;
  /* margin: 0; */
}

#footer {
  color: #777;
  font-size: 0.9em;
  text-align: center;
}

#footer a {
  color: #444;
}

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0.5em 0 1em;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  color: #444;
  font-weight: normal;
  text-decoration: underline;
}

/* Node and Comment Formatting */

div.node {
  margin: 0 0 1em;
}

div#content h2.title {
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 8px;
}

div#content div.node h2.title {
  background: #EFEFEF;
  border: 1px solid #005DAA;
  box-shadow: 0 0 10px -5px #444444 inset;
  color: #444;
  font-size: 1.3em;
  margin: 0;
  padding: 6px 12px 8px;
}

div#content div.node h2.title a {
  text-decoration: none;
}

div.node div.meta,
div.node div.content,
div.node div.links {
  border-bottom: 1px solid #039;
  border-left: 1px solid #039;
  border-right: 1px solid #039;
  padding: 4px 8px;
}

div.node div.meta {
  font-size: 0.9em;
  line-height: 1.25em;
}

div.node div.issue-summary {}

div.comment {
  border: 1px solid #039;
  margin: 0 0 1em;
}

div.comment-type-release > .comment-inner {
  padding: 0.5em 0;
}

div.comment h3.title {
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0 0 0.4em;
  padding: 2px 8px;
}

div.comment h3.title a {
  color: inherit;
  text-decoration: none;
}

div.comment div.submitted {
  font-size: 0.9em;
  line-height: 1em;
  padding: 0 8px;
}

div.comment div.content {
  padding: 8px;
}

div.comment div.links {
  font-size: 0.8em;
  line-height: 1em;
  padding: 0 8px 2px;
}

div.comment div.links a {
  text-decoration: none;
}

div.comments div.box {
  border: 1px solid #039;
  padding: 4px 8px;
}

div.geshifilter {
  font-size: 12px;
  margin: 0.5em 0 1em;
}

.project-issue .summary table {
  margin-bottom: 1em;
}

span.new {
  color: red;
}

span.priority-critical {
  background: #F00;
  border-radius: 5px;
  padding: 5px;
}

span.priority-major {
  background: #F80;
  border-radius: 5px;
  padding: 5px;
}


/* Edit links for views like the link list */

span.edit-link {
  font-size: 10px;
  line-height: 1em;
  padding-left: 0.5em;
  text-transform: uppercase;
}

span.edit-link a {
  color: #aaa;
  text-decoration: none;
}

span.edit-link a:hover {
  color: #555;
  text-decoration: underline;
}

.node-type-book div.node {
  margin: 0;
}

.node-type-book .node-inner .content {
  padding: 1em 0.5em 0;
}

.node-type-book div#content div.node h2.title {
  background: #36c;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ECEFF5;
  font-size: 1.3em;
  margin: 0;
  padding: 6px 12px 8px;
}

.node-type-book div.node div.meta,
.node-type-book div.node div.content {
  border: none;
}

.node-type-book table#attachments {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  margin: 0 auto 1em;
  width: 75%;
}

.book-navigation .menu {
  border-top: none;
  padding: 0.5em 0 0 1.5em;
}

.book-navigation .page-links {
  border-bottom: none;
  border-top: 1px solid #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-variant: small-caps;
  padding: 0.5em 4em;
}

.book-navigation .page-links a {
  color: #777;
}

.node-type-book div.node div.links {
  border-bottom: 1px solid #777;
  border-left: none;
  border-right: none;
  border-top: 1px solid #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-variant: small-caps;
  margin: 0 0.5em;
  text-align: center;
}

.node-type-book div.node div.links a {
  color: #777;
}

.node-type-book #comments .comment {
  border: none;
  padding: 0 0.5em;
}

.node-type-book #comments .comment-inner {
  border-bottom: 1px solid #777;
}

.node-type-book #comments .links {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.node-type-book #comments .links a {
  color: #777;
}
.node-type-book #comments .box {
  border: 1px solid #ccc;
  margin: 0 2.5em 2em;
  padding: 1em 1em 1em;
}

/* Micah 2007-05-03: nicer colors for "closed" project_issue (same as "fixed") */

.project-issue tr.state-7,
.project-issue-status-7 a {
  background-color: #ccc;
}
.project-issue tr.state-7 td.active {
  background-color: #cec;
}
.project-issue tr.state-16,
.project-issue-status-16 a {
  background-color: #ffd;
}
.project-issue tr.state-16 td.active {
  background-color: #eed;
}

.project-issue tr.state-17,
.project-issue-status-17 a {
  background-color: #fff;
}
.project-issue tr.state-17 td.active {
  background-color: #e1e7eb;
}

/* Background colors for homepage links, too! */

.issue-status-by.design,
.issue-status-closed {
  background: #e8eee8;
}

.issue-status-fixed {
  background: #c0ffc0;
}

.issue-status-postponed {
  background: #e8e8ee;
}

.issue-status-needs {
  background: #ffb;
}

.project-issue-status-2,
.project-issue-status-3,
.project-issue-status-5,
.project-issue-status-6,
.project-issue-status-7
{
  text-decoration: none;
}

/* Micah 11-May-2010 (D6) Project Navigation Block */

form#project-quick-navigate-form input.form-submit {
  font-family: Arial, sans-serif;
  font-size: 0.86em;
}

/* More Site-Specific Stuff */

body.front.page-tasklist div#content a {
  text-decoration: none;
}

@media screen {
  .project-issue table {
    font-size: 12px;
  }
  .view-content-issues-incomplete table,
  .view-content-project-issues-report table {
    font-size: 11px;
  }

  .project-issue table td,
  .view-content-issues-incomplete td,
  .view-content-project-issues-report td {
    padding: 4px 2px;
  }
}

.project-issue table td,
.view-content-issues-incomplete td,
.view-content-project-issues-report td {
  vertical-align: top;
}

div.view-links {
  margin: 0 0 1em;
}

div.view-links div.links {
  font-size: 10px;
  line-height: 1em;
  padding-left: 0.5em;
  text-transform: uppercase;
}

div.view-links div.links a {
  color: #aaa;
  text-decoration: none;
}

div.view-links div.links a:hover {
  color: #555;
  text-decoration: underline;
}


/* Al's Meeting Agenda */

.view-content .node-type-agenda .title a {
  color: #000;
  text-decoration: none;
}

.view-content div.node div.content {
  border: none;
}

.view-content div.node-type-agenda {
  font-size: 12px;
  line-height: normal;
  margin: 0;
}

.view-content div.node-type-agenda p {
  margin: 0 0 4px;
}

.view-content .field-field-agenda-parent,
.view-content .field-field-agenda-issue {
  display: none;
}

.block .view-events ul,
.block .view-vacation-time ul {
  padding: 0 0 0 2em;
}

/* Mobile-friendly layout. */

@media screen and (max-width: 640px) {
  #page {
    font-size: small;
    line-height: normal;
  }

  h1#site-name {
    float: none;
  }

  a.hfcc-home {
    display: none;
  }

  #search-theme-form {
    float: none;
  }

  ul.primary-links,
  ul.secondary-links {
    float: none;
    font-size: small;
    line-height: 2em;
    margin: 0 0 0.5em;
    padding: 0.2em 0;
  }

  ul.primary-links li,
  ul.secondary-links li {
    padding: 0 0.5em 0 0;
  }

  ul.primary-links a,
  ul.secondary-links a {
    padding: 0.2em 0.4em;
  }

  body.front.page-tasklist div#content-inner {
    padding: 0;
  }

  div#sidebar-right-inner {
    padding-right: 0;
  }

  div.sidebar div.block-inner {
    font-size: 10px;
    margin: 0 1px;
  }

  div.sidebar h2 {
    font-size: 1.1em;
  }

  div.sidebar input {
    font-size: 11px;
  }

  #fatfooter {
    display: none;
  }

  #footer {
    font-size: 9px;
  }
}
