/**
 * @file
 *  Stylesheet for printer support
 */

#admin-toolbar,
#block-menu-menu-footer-links,
#block-system-0,
#comment-controls,
#comment-form,
#fatfooter,
#mission,
#navigation,
#project-issue-summary-links,
#search-theme-form,
#sidebar-left,
#sidebar-right,
.breadcrumb,
.links,
.pager,
.sidebar,
.tabs {
  display: none;
}

body, #page, #header {
  background-color: white;
  background-image: none;
  color: black;
  font-size: 10pt;
  line-height: 1.2em;
}

#site-name a:link, #site-name a:visited, #site-name a:hover, a:link, a:visited, a {
  color: black;
}

#site-slogan {
  color: black;
}

#page {
  width: auto;
}

#content {
  margin: auto;
  width: auto;
}

.two-sidebars #content-inner,
.sidebar-left #content-inner,
.sidebar-right #content-inner {
  padding: 0;
}

h1 { font-size: 13pt; }
h2 { font-size: 12pt; }
h3 { font-size: 11pt; }

div.comment {
  page-break-inside: avoid;
}
