/**
 * @file
 * Define General User Interface Elements.
 *
 * These should probably stay relatively standard. They can be overwritten in main.css.
 */

/** HTML5 display definitions **/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block;
}

/* Corrects inline-block not defined in IE6/7/8 and FF3 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

/* Ensures content is hidden from all presentations, including screenreaders */
[hidden] {
  display: none;
  visibility: hidden;
}

/* Headings */

h1{
  font-size: 2em;
  line-height: 1.3em;
  margin: 0 0 0.5em;
}

h2 {
  font-size: 1.385em;
  line-height: normal;
  margin: 0.5em 0;
}

.content h2, .content h3, .content h4 {
  margin: 1em 0 0.5;
}

h3 {
  font-size: 1.15em;
  line-height: normal;
  margin: 1em 0 0.4em;
}

h4 {
  font-size: 1.1em;
  line-height: normal;
  margin: 1em 0 0.25em;
}

/* General HTML Elements */

p {
  margin: 0 0 1em;
}

/* List Styles  */

ul, ol {
  margin: 0 0 1em;
  padding-left: 2em;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 0;
  padding-left: 1em;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; margin: 0; }
ul ul ul    { list-style-type: square; margin: 0; }
ul ul ul ul { list-style-type: circle; margin: 0; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; margin: 0; }
ol ol ol    { list-style-type: decimal; margin: 0; }

ol.upper-alpha {list-style-type: upper-alpha; }
ol.lower-alpha {list-style-type: lower-alpha; }
ol.upper-roman {list-style-type: upper-roman; }
ol.lower-roman {list-style-type: lower-roman; }
ol.decimal {list-style-type: decimal; }

/* Tabs */

ul.primary li a {
  -moz-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

dl {}

dt {
  margin: 0 0 0.5em;
}

dd {
  margin: 0 0 0.5em 1em;
}

dl.node-type-list dt {
  font-weight: bold;
}

blockquote {
  border-left: 4px solid #cdf;
  margin-left: 2em;
  padding-left: 0.5em;
}

sup {
  font-size: 0.6em;
}

/* Table Styles  */

table {
  width: 99%;
}
tr.even td, tr.odd td {
  padding: 10px 5px;
}
tr.even {
  background-color: #F9F9F9;
}
tr.odd {
  background-color: #fff;
}

table.views-table caption {
  color: #1E326F;
  font-size: 1.15em;
  font-weight: bold;
  margin: 2em 0 0.4em;
  text-align: left;
}

/** Embedded content **/

img, object, video {
  max-width: 100%; /* Automatically scales images larger than the container. Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
  /* _width: 100%; /* IE6 doesn't support max-width, so we just use width. If the image is larger than the container, just uncomment this. If it is smaller than the container, uncomment and change the 100% value to an absolute one */
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic; /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

.mediaelement-video {
  margin: 0 0 1.625em;
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
  overflow: hidden;
}

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */

abbr.created {
  border: none;
  cursor: auto;
  white-space: normal;
}

/* Code */

pre, code {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

/* Undo previous formatting for editing tips. */

ul.tips code {
  background: inherit;
  border: none;
  display: inline;
  margin: inherit;
  padding: inherit;
}


/* User Interface Styles */

.resizable-textarea textarea {
  font-size:14px!important;
}

.messages {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #04a107;
  color: #04a107;
  background-color: #edffed;
}

form{
  margin:10px 0;
}

/* Rollover edit links for blocks */

div.block {
  position: relative;
}

div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}

div.block:hover div.edit {
  display: block;
}

/** Links **/

/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */

a, a:visited {
  color: #005DAA;
  /*text-decoration: none;*/
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

/* Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}
